################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.dotnet/obj/Debug/netstandard2.0
/.vs
/obj
/Witch Hunters/Scripting
/caves-of-qud-mod-jam-2025-reanimated-monster-mash.csproj
/caves-of-qud-mod-jam-2025-reanimated-monster-mash.sln
